
// HOME
.home {
  .slide + .slide {
    div.rounded {
      // position: relative;
      // z-index: 1;
      overflow: hidden;
    }

    .row > div {
      * {
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        -webkit-transition: all .25s ease-in-out; /* Safari */
        transition: all .25s ease-in-out;
      }

      h3 {
        opacity: 0.95;
        position: relative;
        // bottom: -105px;
        z-index: 2;
        // height: 0;
        color: $brand-primary-color;
        line-height: 1.8rem;
        letter-spacing: 0;
        font-weight: 500;
        // text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);

        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: calc( 50% - 125px );
        //   top: 30px;
        //   display: block;
        //   width: 250px;
        //   height: 1px;
        //   background-color: rgba(255, 255, 255, 0.35);
        // }
        + div {
          @extend .position-relative;
      
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
      
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.83) 100%);
          }
        }
      }

      &:hover {
        * {
          -webkit-transition: all .35s ease-in-out; /* Safari */
          transition: all .35s ease-in-out;
        }
        img {
          transform: scale(1.05);
        }
        div.rounded:after {
          background: linear-gradient(180deg, rgba(13, 53, 92, 0) 0%, rgba(13, 53, 92, 0.73) 100%);
        }
      }
    }
  }
  h4 {
    font-weight: 300;
    font-style: italic;
    letter-spacing: -1px;
  }
  .carousel {
    @extend .pb-5;
    @extend .pt-3;

    .carousel-item {
      img {
        width: auto !important;
        height: 45px !important;
      }
    }
  }
}

// CONTACTS
.template-contacts {
  h2 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  p {
    font-size: 18px;
    line-height: 30px;
    color: $color-dark;
  }
  a.see-on-map {
    @extend .pl-4;
    background-image: url('../images/google_map.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  // .row > div + div {
  //   @include media-breakpoint-down(sm) {
  //     padding: 3rem 0;
  //     background-color: $background-primary-color-light;
  //   }
  // }
}

// ABOUT FOR US
.template-for-us {
  .certificate {
    position: relative;

    @include media-breakpoint-up(lg) {
      &:before,
      &:after {
        content: '';
      }
    }

    &:before {
      -webkit-transition: all 10s ease-in-out; /* Safari */
      transition: all 10s ease-in-out;

      position: absolute;
      left: -50%;
      right: -150%;
      width: 400%;
      height: 50%;
      left: -150%;
      right: -50%;
      z-index: 0;
      background-color: #FFF;
    }
    &:before {
      top: 25%;
    }
    &:after {
      bottom: 0;
    }

    &:hover {
      -webkit-transition: all 10s ease-in-out; /* Safari */
      transition: all 10s ease-in-out;

      &:before {
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.1) 50%);
        background-color: #F5F8FE;
      }
      &:after {
        // background: linear-gradient(180deg, rgba(13, 53, 92, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
        background-color: #F5F8FE;
      }
    }
  }

}

// SERVICES
.template-services {
  .after-header-deco {
    @include media-breakpoint-up(xxxl) {
      height: 650px;
    }
  }
  figure {
    position: relative;
    border-radius: 9px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      
      border-radius: 9px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.43) 67.71%);
    }
  }
  h2 {
    font-size: 34px;
    font-weight: 400;
  }
}

// EQUIPMENT
.template-equipment {
}

// PROJECTS
.template-projects {
  @include media-breakpoint-up(xxxl) {
    height: 550px;
  }
}


// CLIENTS
.template-clients {
  // 
}

// PROJECTS
// CLIENTS
.template-projects,
.template-clients {
  .tabs {

    &.sticky-collapse {
      @include media-breakpoint-down(sm) {
        margin: 0 -10px 0 -15px;
      }

      ul {
        // animation: sticky-collapse 1s 1;
      }
    }
    
    @extend .position-relative;
    @media (max-width: 575.98px) {
      position: sticky;
    }
    
    top: 0;
    z-index: 9;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 15%;
      bottom: 0;
      width: 70%;
      height: 30px;
      box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    ul {
      @extend .position-relative;
      z-index: 9;

      li {
        @extend .mx-5;
        @include media-breakpoint-down(xs) {
          margin: 0 10px !important;
        }
        @include media-breakpoint-down(xs) {
          // @extend .mx-5;
        }

        a {
          @extend .px-0;
          @extend .pb-1;
          @extend .text-uppercase;
          color: rgba(35, 47, 62, 0.16);
          border-bottom: 3px solid transparent !important;
          
          &.active {
            color: #232F3E;
            border-bottom: 3px solid #055FBA !important;
          }
        }
      }
    }
  }
}

// FOR US
// CONTACTS
// EQUIPMENT
// PROJECTS
// CLIENTS
.template-for-us,
.template-contacts,
.template-equipment,
.template-projects,
.template-clients {
  .after-header-deco {
    @include media-breakpoint-down(xs) {
      background-color: #f6f9ff;
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
    @include media-breakpoint-up(xxl) {
    }
  }
}

// FOR US
// CONTACTS
.template-for-us,
.template-contacts {
  @include media-breakpoint-up(xxxl) {
  }
}

// EQUIPMENT
// CLIENTS
.template-for-us,
.template-contacts {
  @include media-breakpoint-up(xxxl) {
    height: 550px;
  }
}
