
// HOME
.home {
  .slide + .slide {
    div.rounded {
      // position: relative;
      // z-index: 1;
      overflow: hidden;
    }

    .row > div {
      * {
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        -webkit-transition: all .25s ease-in-out; /* Safari */
        transition: all .25s ease-in-out;
      }

      h3 {
        opacity: 0.95;
        position: relative;
        // bottom: -105px;
        z-index: 2;
        // height: 0;
        color: $brand-primary-color;
        line-height: 1.8rem;
        letter-spacing: 0;
        font-weight: 500;
        // text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);

        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: calc( 50% - 125px );
        //   top: 30px;
        //   display: block;
        //   width: 250px;
        //   height: 1px;
        //   background-color: rgba(255, 255, 255, 0.35);
        // }
        + div {
          @extend .position-relative;
      
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
      
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.83) 100%);
          }
        }
      }

      &:hover {
        * {
          -webkit-transition: all .35s ease-in-out; /* Safari */
          transition: all .35s ease-in-out;
        }
        img {
          transform: scale(1.05);
        }
        div.rounded:after {
          background: linear-gradient(180deg, rgba(13, 53, 92, 0) 0%, rgba(13, 53, 92, 0.73) 100%);
        }
      }
    }
  }
  h4 {
    font-weight: 300;
    font-style: italic;
    letter-spacing: -1px;
  }
  .carousel {
    @extend .pb-5;
    @extend .pt-3;

    .carousel-item {
      img {
        width: auto !important;
        height: 45px !important;
      }
    }
  }
}

// CONTACTS
.template-contacts {
  .after-header-deco {
    @include media-breakpoint-down(md) {
      height: 325px;
    }
    @include media-breakpoint-only(md) {
      height: 290px;
    }
    @include media-breakpoint-up(lg) {
      height: 390px;
    }
  }
  h2 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  p {
    font-size: 18px;
    line-height: 30px;
    color: $color-dark;
  }
  a.see-on-map {
    @extend .pl-4;
    background-image: url('../images/google_map.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// ABOUT FOR US
.template-for-us {
  .after-header-deco {
    @include media-breakpoint-up(lg) {
      height: 400px;
    }
    @include media-breakpoint-up(xl) {
      height: 450px;
    }
  }
  .certificate {
    position: relative;

    @include media-breakpoint-up(lg) {
      &:before,
      &:after {
        content: '';
      }
    }

    &:before {
      -webkit-transition: all 10s ease-in-out; /* Safari */
      transition: all 10s ease-in-out;

      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      right: 0;
      z-index: 0;
      // background-color: #FFF;
    }
    &:before {
      top: 25%;
    }
    &:after {
      bottom: 0;
    }

    &:hover {
      -webkit-transition: all 15s ease-in-out; /* Safari */
      transition: all 15s ease-in-out;

      &:before {
        @extend .shadow;
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.1) 50%);
        // background-color: #F5F8FE;
      }
      &:after {
        // background: linear-gradient(180deg, rgba(13, 53, 92, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
        // background-color: #F5F8FE;
      }
    }
  }

}

// SERVICES
.template-services {
  .after-header-deco {
    @include media-breakpoint-up(xl) {
      height: 550px;
    }
    @include media-breakpoint-up(xxxl) {
      height: 650px;
    }
  }
  figure {
    position: relative;
    border-radius: 9px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      
      border-radius: 9px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 53, 92, 0.43) 67.71%);
    }
  }
  h2 {
    font-size: 34px;
    font-weight: 400;
  }
  img.service-image {
    @include media-breakpoint-only(md) {
      position: sticky;
      top: 30px;
    }
  }
}

// EQUIPMENT
.template-equipment {
  .equipment-margin {
    @include media-breakpoint-only(md) {
      margin-top: 90px !important;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 150px !important;
    }
  }
  img.service-image {
    @include media-breakpoint-only(md) {
      position: sticky;
      top: 30px;
    }
  }
}

// PROJECTS
.template-projects {
  .after-header-deco {
    @include media-breakpoint-up(xxxl) {
      height: 550px;
    }
  }
  figure {
    &:hover {
      .see_more_images {
        opacity: 1;
      }
    }
    .see_more_images {
      cursor: pointer;
      opacity: 0;
      @extend .position-absolute;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @extend .w-100;
      border-radius: 9px;
      background-color: rgba(22, 53, 84, 0.86);

      &:before,
      &:after {
        content: '';
        @extend .position-absolute;
        display: block;
      }
      &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 52%;
        background-image: url('../images/search.svg');
        background-repeat: no-repeat;
        background-size: 72px;
        background-position: bottom center;
      }

      @include media-breakpoint-down(xs) {
        &:before {
          background-size: 52px;
        }
        &.opacity1 {
          opacity: 1 !important;
        }
        span {
          font-size: 14px;
        }
      }

      span {
        @extend .position-absolute;
        top: 55%;
        left: 0;
        width: 100%;
        @extend .text-center;
        color: $white;
      }
    }
  }
}


// CLIENTS
.template-clients {
  .after-header-deco {
    @include media-breakpoint-up(lg) {
      height: 350px;
    }
    @include media-breakpoint-up(xl) {
      height: 400px;
    }
  }
  .see_more_images {
    @extend .d-none;
  }
}

// PROJECTS
// CLIENTS
.template-projects,
.template-clients {
  .tabs {

    &.sticky-collapse {
      @include media-breakpoint-down(sm) {
        margin: 0 -10px 0 -15px;
      }
      @include media-breakpoint-only(md) {
        margin: 0 -40px;
      }
      @include media-breakpoint-up(lg) {
        ul {
          height: 75px;
          animation: sticky-collapse 1s 1;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      left: 15%;
      bottom: 0;
      width: 70%;
      height: 30px;
      box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    }
    &:after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 150%;
      background-color: #fff;
    }

    ul {
      @extend .position-relative;
      z-index: 9;

      li {
        @extend .mx-5;
        @include media-breakpoint-down(xs) {
          margin: 0 10px !important;
        }
        @include media-breakpoint-down(xs) {
          // @extend .mx-5;
        }

        a {
          @extend .px-0;
          @extend .pb-1;
          @extend .text-uppercase;
          color: rgba(35, 47, 62, 0.16);
          border-bottom: 3px solid transparent !important;
          
          &.active {
            color: #232F3E;
            border-bottom: 3px solid #055FBA !important;
          }
        }
      }
    }
  }
  figure {
    @extend .position-relative;
    @include media-breakpoint-down(xs) {
      overflow: hidden;
    }
    a {
      @extend .position-relative;
      z-index: 3;
      @extend .d-block;

      + a {
        @extend .position-absolute;
        z-index: 1;
        width: auto !important;
      }

      + a {
        top: 20px;
        right: -15px;
        height: 90% !important;
        // @extend .shadow;
        + a {
          top: 35px;
          right: -30px;
          height: 80% !important;
          + a {
            z-index: 1;
            top: 40px;
            right: -40px;
            height: 70% !important;
            + a {
              z-index: 1;
              top: 55px;
              right: -50px;
              height: 60% !important;
            }
          }
        }
      }
    }
  }
}

// FOR US
// CONTACTS
// EQUIPMENT
// PROJECTS
// CLIENTS
.template-for-us,
.template-contacts,
.template-equipment,
.template-projects,
.template-clients {
  .after-header-deco {
    @include media-breakpoint-down(xs) {
      background-color: #f6f9ff;
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
    @include media-breakpoint-up(xxl) {
    }
  }
}

// FOR US
// CONTACTS
.template-for-us,
.template-contacts {
  @include media-breakpoint-up(xxxl) {
  }
}

// EQUIPMENT
// CLIENTS
.template-for-us,
.template-contacts {
  @include media-breakpoint-up(xxxl) {
    height: 550px;
  }
}
