
h1, h2, h3 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px;
}

h1 {
    font-size: 48px;
    span {
        font-weight: 300;
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
        font-size: 80px;
    }
    @include media-breakpoint-up(xxl) {
    }
    @include media-breakpoint-up(xxxl) {
    }
}

h2 {
    @extend .position-relative;
    @extend .mb-4;
    @extend .pb-4;
    
    &:after {
        @extend .position-absolute;
        bottom: 0;
        content: '';
        width: 111px;
        height: 3px;
        background-color: $brand-primary-color;
    }

    &:not(.text-left),
    &:not(.text-right) {
        &:after {
            left: calc( 50% - 56px ) ;
        }
    }

    &.text-left {
        &:after {
            left: 0;
        }
    }
    &.text-right {
        &:after {
            left: auto;
            right: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 24px;
        &:not(.text-left),
        &:not(.text-right) {
            &:after {
                width: 50px;
                left: calc( 50% - 25px ) ;
            }
        }
        &.text-left {
            &:after {
                left: 0;
                width: 55px;
                // height: 2px;
            }
        }
    }
}

h3 {
    font-size: 20px;
}